{% extends 'base.html.twig' %}

{% block title %}Page Introuvable{% endblock %}

{% block content %}
    <div class="container" id="acess_denied">
        <h1>Page Introuvable</h1>
        <p>La page n'existe pas.</p>
    </div>
{% endblock %}
