{% extends 'base.html.twig' %}

{% block title %}Demande devis{% endblock %}

{% block content %}
<div class="container" id="cart">
    <h2>Votre Demande de devis a bien été envoyé et est en cours de traitement.</h2>
</div>
{% endblock %}
