{% extends 'base.html.twig' %}

{% block title %}Demande devis{% endblock %}

{% block content %}
<div class="container" id="cart">
    <div class="breadcrumb">
        <a href="{{ path('home') }}">Accueil</a> <span class="mx-2">/</span> <p class="">Demande devis</p>
    </div>
    
    <div class="row">
        <div class="col-8">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">Désignation</th>
                        <th scope="col">Poids Estimé</th>
                        <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p class="mb-0 mt-4">Recyclage</p>
                            </td>
                            <td>
                                <div class="input-group quantity mt-4" style="width: 100px;">
                                    <div class="input-group-btn">
                                        <a href="" class="btn btn-sm btn-minus rounded-circle bg-light border" >
                                        <i class="fa fa-minus"></i>
                                        </a>
                                    </div>
                                    <input type="text" class="form-control form-control-sm text-center border-0" value="0">
                                    <div class="input-group-btn">
                                        <a href="" class="btn btn-sm btn-plus rounded-circle bg-light border">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <a href="" class="btn btn-md rounded-circle bg-light border mt-4" >
                                    <i class="fa fa-times text-danger"></i>
                                    
                                </a>
                                
                            </td>
                        
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
         <div class="col-sm-8 col-md-7 col-lg-6 col-xl-4">
            <div class="bg-light rounded">
                <div class="p-4">
                    <div class="form-group">
                        <label for="">Commentaire</label>
                        <textarea class="form-control" placeholder="Laissez-nous plus de détails" id="" rows="3"></textarea>
                    </div>
                </div>
                
                <a href="{{ path('app_checkout') }}" class="btn border-secondary px-4 py-3 text-primary mb-4 ms-4" type="button">Soumettre demande</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
