{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
<!-- Hero Start -->
    <div class="container-fluid py-5 mb-5 hero-header">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-md-12 col-lg-7">
                    <h4 class="mb-3 text-secon">100% Recyclable</h4>
                    <h1 class="mb-5 display-3 text-secon">Produits de qualité et recyclable.</h1>
                </div>
                <div class="col-md-12 col-lg-5">
                    <div id="carouselId" class="carousel slide position-relative" data-bs-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active rounded">
                                <img src="{{ asset('assets/img/hero-1.jpeg') }}" class="img-fluid w-100 h-100 bg-secondary rounded" alt="First slide">
                            </div>
                            <div class="carousel-item rounded">
                                <img src="{{ asset('assets/img/hero-2.jpeg') }}" class="img-fluid w-100 h-100 rounded" alt="Second slide">
                            </div>
                        </div>
                        <button class="carousel-control-prev " type="button" data-bs-target="#carouselId" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden ">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Hero End -->

<!--Specifications Start -->
    <div id="specifications" class="container-fluid py-4">
        <div class="container py-5">
            <div class="row g-4">
                <div class="col-md-6 col-lg-3">
                    <div class=" text-center m-bg-secondary p-4">
                        <div class="specifications-icon mb-5 mx-auto">
                            <i class="text-white fas fa-car-side fa-3x"></i>
                        </div>
                        <div class="specifications-content text-white text-center">
                            <h5>Livraison gratuite</h5>
                            <p class="mb-0">Gratuite à partir de 50€ d'achat</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class=" text-center m-bg-secondary p-4">
                        <div class="specifications-icon mb-5 mx-auto">
                            <i class="text-white fas fa-user-shield fa-3x"></i>
                        </div>
                        <div class="specifications-content text-white text-center">
                            <h5>Paiement sécurisé</h5>
                            <p class="mb-0">Payez en toute sécurité en ligne</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class=" text-center m-bg-secondary p-4">
                        <div class="specifications-icon mb-5 mx-auto">
                            <i class="text-white fas fa-exchange-alt fa-3x"></i>
                        </div>
                        <div class="specifications-content text-white text-center">
                            <h5>Retour sous 30 jours</h5>
                            <p class="mb-0">Garantie de paiement de 30 jours</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 col-lg-3">
                    <div class=" text-center m-bg-secondary p-4">
                        <div class="specifications-icon mb-5 mx-auto">
                            <i class="text-white fa fa-phone-alt fa-3x"></i>
                        </div>
                        <div class="specifications-content text-white text-center">
                            <h5>Assistance 24/7</h5>
                            <p class="mb-0">Une assistance toujours rapide</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
<!-- Specifications End -->

<!--Product Start -->
    <div class="container-fluid py-3 m-bg-secondary text-white">
        <div class="container py-3">
            <div class="row">
                <div class="col-lg-7">
                    <div class="">
                        <h6 class="text-white">Vous êtes un particulier ?</h6>
                        <p class="fs-4 text-justify">
                            Profitez des services et produits disponibles pour nos utilisateurs particuliers 
                            avec des avantages incroyables 🎁!
                        </p>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="">
                        <p class="text-justify">
                            Prêt à acheter des produits eco-responsable🚀
                        </p>
                        <a href="{{ path('app_choice_role') }}" class="btn border border-primary text-white px-3"> Je m'inscris</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
<!--Product End -->

{% endblock %}