<form method="post" action="{{ path('app_qr_status_delete', {'id': qr_status.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ qr_status.id) }}">
    <button class="btn">Delete</button>
</form>
