{% extends 'admin_base.html.twig' %}

{% block title %}Modifier Status{% endblock %}

{% block content %}
    <div class="content">
        <div class="container mt-5 myd-flex">
            <h1>Modifier Status</h1>

            {{ include('qr_status/_form.html.twig', {'button_label': 'Update'}) }}

            <a href="{{ path('app_qr_status_index') }}">back to list</a>

            {{ include('qr_status/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
