{% extends 'admin_base.html.twig' %}

{% block title %}Nouveau statut{% endblock %}

{% block content %}
    <div class="content">
        <div class="container mt-5">
            
            <a href="{{ path('app_qr_status_index') }}" class="mb-3 text-green fs-5">
                <i class="fa fa-arrow-left"></i>
                Retour à la liste
            </a>
            <h1>Créer nouveau statut</h1>
            
            <div class="row">
                <div class="col-md-6">
                    {{ include('qr_status/_form.html.twig') }}
                </div>
            </div>
                            
        </div>
    </div>
{% endblock %}
