{% extends 'admin_base.html.twig' %}

{% block title %}Détails{% endblock %}

{% block content %}
    <div class="content">
        <div class="container mt-5">
            <a href="{{ path('app_quote_request_index') }}" class="mb-3 text-green fs-5">
                <i class="fa fa-arrow-left"></i>
                Retour à la page précédente
            </a>
            <h1>Détails</h1>

            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ qr_status.id }}</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>{{ qr_status.name }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
{% endblock %}
