{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block content %}

<div class="container" id="profil">
    <div class="breadcrumb">
        <a href="{{ path('home') }}">Accueil</a> <span class="mx-2">/</span> <p class="">Mon Compte</p>
    </div>
    <div class="row">
        <div class="col-md-4 justify-content-center ">
            
        </div>
        <div class="col-md-8"></div>
    </div>
</div>
{% endblock %}
