{% extends 'admin_base.html.twig' %}

{% block title %}Détails{% endblock %}

{% block content %}
    <div class="content">
        <div class="container mt-5 myd-flex">
            <h1>Catégorie</h1>

            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ product_category.id }}</td>
                    </tr>
                    <tr>
                        <th>Designation</th>
                        <td>{{ product_category.designation }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ product_category.description }}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}
