<form method="post" action="{{ path('app_product_delete', {'id': product.id}) }}" onsubmit="return confirm('Vous êtes sûr de supprimer ce produit?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
    <button class="btn"><i class="fa fa-trash mx-2 text-danger"></i></button>
</form>
