{% extends 'admin_base.html.twig' %}

{% block title %}Nouveau produit{% endblock %}

{% block content %}
    <div class="content">
        <div class="container mt-5">
            <a href="{{ path('app_product_index') }}" class="mb-3 text-green fs-5">
                <i class="fa fa-arrow-left"></i>
                Retour à la page précédente
            </a>
            <h1>Créer nouveau produit</h1>
            
            <div class="row">
                <div class="col-md-8">
                    {{ include('product/_form.html.twig') }}
                </div>
            </div>

        </div>
    </div>
{% endblock %}
