{% extends 'admin_base.html.twig' %}

{% block title %}Gestion des devis{% endblock %}

{% block content %}
 <!-- contenu de la page -->
    <div class="content">
        <div class="container mt-5 myd-flex">
            <p class='text-center'>gestion de devis</p>
        </div> 
    </div> 
{% endblock %}
