{% extends 'admin_base.html.twig' %}

{% block title %}Nouveau service{% endblock %}

{% block content %}
    <div class="content">
        <div class="container mt-5">
            
            <a href="{{ path('app_service_index') }}" class="mb-3 text-green fs-5">
                <i class="fa fa-arrow-left"></i>
                Retour à la page précédente
            </a>
            <h1>Créer nouveau service</h1>
            <div class="row">
                <div class="col-md-6">
                    {{ include('service/_form.html.twig') }}
                </div>
            </div>
            

                
        </div>
    </div>
{% endblock %}
