{% extends 'admin_base.html.twig' %}

{% block title %}Nouveau service{% endblock %}

{% block content %}
    <div class="content">
        <div class="container mt-5 myd-flex">
            <h1>Créer nouveau service</h1>

            {{ include('service/_form.html.twig') }}

            <a href="{{ path('app_service_index') }}">back to list</a>
                
        </div>
    </div>
{% endblock %}
