{% extends 'base.html.twig' %}

{% block title %}New QuoteRequest{% endblock %}

{% block body %}
    <h1>Create new QuoteRequest</h1>

    {{ include('quote_request/_form.html.twig') }}

    <a href="{{ path('app_quote_request_index') }}">back to list</a>
{% endblock %}
