{% extends 'base.html.twig' %}

{% block title %}Catalogue Services{% endblock %}

{% block content %}

<div class="container" id="catalogue_service">
    <div class="breadcrumb">
        <a href="{{ path('home') }}">Accueil</a> <span class="mx-2">/</span> <p class="">Catalogue Services</p>
    </div>
    <div class="row">
        {% for service in services %}
        
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{service.designation}}</h5>
                        <p class="card-text">
                            {{service.description}}
                        </p>
                        <a href="{{ path('add_to_request', { 'service_id': service.id, 'quantity':50 }) }}" class="btn border m-bg-primary text-white">Sélectionner ce service</a>
                    </div>
                </div>
            </div>
        
        {% endfor %}
    </div>
</div>
{% endblock %}
